<div class="w-full h-[8vh] flex fixed grid grid-cols-3 md:grid-cols-6 md:h-[5vh] flex bg-white md:pl-2 pt-2 opacity-50 hover:opacity-100 z-10">
    <a href="/home"><div class="h-full w-full text-center box">
        <fa-icon [icon]="faHouse" class="md:mr-2 text-sm md:text-xl"></fa-icon>
        Home
    </div></a>
    <a href="/experiences"><div class="h-full w-full text-center">
        <fa-icon [icon]="faLightbulb" class=" md:mr-2 text-sm md:text-xl"></fa-icon>
        Experiences
    </div></a>
    <a href="/imprint"><div class="h-full w-full text-center">
        <fa-icon [icon]="faBook" class=" md:mr-2 text-sm md:text-xl"></fa-icon>
        Imprint
    </div></a>
</div>
