<div class="w-full h-[8vh] fixed grid grid-cols-3 md:grid-cols-6 md:h-[5vh] flex bg-white md:pl-2 pt-2">
    <div class="h-full w-full text-center box"><a href="/home">
        <fa-icon [icon]="faHouse" class="md:mr-2 text-sm md:text-xl"></fa-icon>
        Home
    </a></div>
    <div class="h-full w-full text-center"><a href="/experiences">
        <fa-icon [icon]="faLightbulb" class=" md:mr-2 text-sm md:text-xl"></fa-icon>
        Experiences
    </a></div>
    <div class="h-full w-full text-center"><a href="/imprint">
        <fa-icon [icon]="faBook" class=" md:mr-2 text-sm md:text-xl"></fa-icon>
        Imprint
    </a></div>
</div>
