<div class="w-full h-[5vh] fixed grid grid-cols-6 flex bg-white pt-2">
    <div class="h-full w-full font-boldy text-xl text-center box"><a href="/home">
        <fa-icon [icon]="faHouse" class="mr-2"></fa-icon>
        Home
    </a></div>
    <div class="h-full w-full font-bold text-xl text-center"><a href="/experiences">
        <fa-icon [icon]="faLightbulb" class="mr-2"></fa-icon>
        Experiences
    </a></div>
    <div class="h-full w-full font-bold text-xl text-center"><a href="/imprint">
        <fa-icon [icon]="faBook" class="mr-2"></fa-icon>
        Imprint
    </a></div>
</div>
