<div class="grid grid-rows-4 sm:pt-[5vh] pt-[8vh]">
    <div class="sm:h-[40vh] h-[50vh] area hover:bg-green-100 p-4 flex justify-center text-center">
        <div class="block">
            <h1 class="text-3xl">Über mich</h1>
            <img src="../../assets/images/Sascha_Hemd.jpg" class="mt-6 mb-6 h-[300px] rounded-full" />
            <span class="text-xl">Sascha Pflittner - Software Entwickler</span>
        </div>
        <hr class="animated-row" />
        
    </div>
    <div class="sm:h-[40vh] h-[50vh]  area hover:bg-green-100 p-4 block sm:flex justify-center text-center m-auto">
        <div class="flex items-center">
            <div class="block">
            <h1 class="text-xl">Angestellt bei:</h1>
            <img src="../../assets/images/SEW-logo.png" class="mt-6 mb-6 h-[200px]" />
            </div>
            
        </div>
        <div class="sm:w-[50%] w-full p-10 flex items-center">
            "Mein Anspruch ist es, mich durch ständige Lernbereitschaft und hohes Engagement stetig weiter zu verbessern.
            Die eigene Code-Qualität ist für mich der beste Maßstab, diesen Anspruch täglich aufs Neue zu überprüfen."
        </div>
        <hr class="animated-row" />    
    </div>
    <div class="h-[40vh] area hover:bg-green-100 p-4 flex justify-center text-center">
        
        <hr class="animated-row" />
    </div>
    <div class="h-[40vh] area hover:bg-green-100 p-4 flex justify-center text-center">
        
        <hr class="animated-row" />
    </div>
</div>
