.area:hover .animated-row{
	border-bottom: solid 1px #000;
    border-top: solid 1px #000;
	animation: border_anim 0.5s forwards;
}

.animated-row{
	display: flex;
	position: absolute;
	bottom: 0;
}

.animated-row-wrapper{
	width:100%
}

.area{
	position: relative;
}



@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 50%;
	}
}